html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(#660D06, #FF3502);
    font-family: 'Bungee', cursive;
}

button {
    font-family:  'Bungee', cursive;
    display: block;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    background-color: red;
    color: darkred;
    opacity: 4;
}

.enter {
    text-decoration: none;
    text-align: justify;
    font-size: 15em;
    display: block;
    opacity: 0;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: inherit;
    text-align: center;
}

.enter:visited {
    color: white;
}

.centered:hover {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
    to {color: red;}
}

.centered {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2px;
}


.container {
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 0 auto;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.left-player {
    color: red;
    font-size: 12em;
    text-align: center;
    margin: auto;
    height:200px;
    width: 200px;
    mix-blend-mode: hard-light;
}

.battlefield {
    margin: auto;
    text-align: center;
    font-size: 5em;
    color: rgba(0,0,0,.23);
}

.right-player {
    font-size: 12em;
    text-align: center;
    margin: auto;
    height:200px;
    width: 200px;
}

.right-deck {
    display: flex;
    justify-content: right;
    text-align: center;
    margin: auto;
    color: #6D0122;
}

.left-deck {
    display: flex;
    justify-content: left;
    text-align: center;
    margin: auto;
    color: #6D0122;Ï
}

.rightscore {
    font-size: 2.5em;
    padding: 20px;
    height: 100px;
    width: 200px;
    text-align: center;
}

.leftscore {
    font-size: 2.5em;
    padding: 20px;
    height: 100px;
    width: 200px;
    text-align: center;
}

.container-reset {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.display {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#inst {
    font-family:  'Bungee', cursive;
    display: block;
    padding: 3px;
    margin: 0 auto;
    cursor: pointer;
    background-color: red;
    color: darkred;
    opacity: 4;
    text-decoration: none;
}

#inst:visited {
    text-decoration: none;
    color: inherit;
}