html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(#660D06, #FF3502);
}

button {
    display: block;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 0 auto;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.left-player {
    color: red;
    font-size: 3.6em;
    text-align: center;
    margin: auto;
    height:200px;
    width: 200px;
    mix-blend-mode: hard-light;
}

.battlefield {
    margin: auto;
    text-align: center;
}

.right-player {
    font-size: 3.6em;
    text-align: center;
    margin: auto;
    height:200px;
    width: 200px;
}

.right-deck {
    display: flex;
    justify-content: right;
    text-align: center;
    margin: auto;
}

.left-deck {
    display: flex;
    justify-content: left;
    text-align: center;
    margin: auto;
}

.rightscore {
    font-size: 2.5em;
    padding: 20px;
    height: 100px;
    width: 200px;
    text-align: center;
}

.leftscore {
    font-size: 2.5em;
    padding: 20px;
    height: 100px;
    width: 200px;
    text-align: center;
}

.container-reset {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.display {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

